* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/*делает прокрутку невидимой*/
html ::-webkit-scrollbar {
  display: none;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  background-color: #E1D4C9;
  font-family: 'Inter', sans-serif;
  color: #403F3d;

}
  img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  }
  /* Этот класс ты будешь добавлять внутрь каждой секции (внутри <header>, <main>, <section>) */
.container {
  max-width: 1440px; /* Контент никогда не станет шире макета */
  width: 100%;
  margin-left: auto;  /* Эти две строчки центрируют контент */
  margin-right: auto; /* если экран монитора больше 1440px */
  padding-left: 40px;  /* Боковые отступы-предохранители, чтобы на 1440px */
  padding-right: 40px; /* текст не прижимался вплотную к краям экрана */
}






/*@media (max-width: 768px) {
  .container {
    padding-left: 20px;  /* Уменьшаем отступы по бокам, чтобы освободить место
    padding-right: 20px;
  }

  Скрываем основную навигацию
  main-nav {
    display: none !important;
  }

  /* Показываем кнопку бургер-меню
  burger-button {
    display: block;
  }

  /* Пример скрытия декоративных элементов (если это обосновано дизайном)
  decorative-mint-leaf {
    display: none;
  }
}/* Стили по умолчанию (для десктопа от 1440px и промежуточных вариантов)
main-nav {
  display: flex; /* Твоё обычное меню со ссылками
}

burger-button {
  display: none; /* На десктопе кнопка-бургер полностью скрыта
}*/